<%- model_class = Category -%>
<% if current_admin_user == true %> 
<div class="page-header">
  <h1><%=t '.title', :default => [:'helpers.titles.new', 'New %{model}'], :model => Category %></h1>
</div>
<%= render :partial => 'form' %>
<% else %>
<div class="alert alert-warning alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <strong>Warning!</strong> Sorry You dont have permission to view this page.
</div>
<% end %>

